html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

h1 {
  bottom: 0;
  color: #822323;
  margin-bottom: 75px;
  position: absolute;
  z-index: 1;
}

.gm-style-iw img {
  height: 200px;
}

#slike {
  position: fixed;
  bottom: 0;
  display: flex;
  overflow: hidden;
}

#slike img {
  height: 75px;
}
