:root {
  --visina-slajdera: 64px;
}

html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

h1 {
  bottom: 0;
  color: #822323;
  line-height: 80%;
  margin-bottom: var(--visina-slajdera);
  opacity: 0.2;
  position: absolute;
  z-index: 1;
}

.podnaslov {
  font-size: 24px;
  display: block;
}

.gm-style-iw img {
  width: 200px;
}

.okvir-slika {
  align-items: center;
  bottom: 0;
  display: flex;
  position: fixed;
  width: 100%;
}

.strelica {
  color: #fff;
  cursor: pointer;
  font-size: var(--visina-slajdera);
  position: absolute;
  text-shadow: 2px 2px #000;
  user-select: none;
  -moz-user-select: none;
}

#strelica-desna {
  right: 0;
}

#slike {
  display: flex;
  overflow: hidden;
  transition: margin-left 0.4s ease;
}

#slike img {
  height: var(--visina-slajdera);
  cursor: pointer;
}

.ikonica {
  cursor: pointer;
  opacity: 0.75;
  position: absolute;
  width: 32px;
  z-index: 1;
}

#lokator {
  bottom: calc(var(--visina-slajdera) + 12px);
  right: 0;
}

#punekran {
  top: 10px;
  left: 10px;
  background: white;
  padding: 4px;
}

@media (min-width: 400px) {
  h1 {
    font-size: 52px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 74px;
    margin-bottom: calc(var(--visina-slajdera) - 4px);
  }
  .podnaslov {
    display: inline;
  }
  :root {
    --visina-slajdera: 82px;
  }
}
