:root {
  --visina-slajdera: 64px;
}

html, body, #mapid {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#mapid {
  z-index: 0;
}

h1 {
  bottom: 0;
  color: #822323;
  line-height: 80%;
  margin-bottom: var(--visina-slajdera);
  opacity: 0.2;
  position: absolute;
  z-index: 1;
}

.podnaslov {
  font-size: 24px;
  display: block;
}

.gm-style-iw img {
  width: 200px;
}

.ikonica {
  cursor: pointer;
  opacity: 0.75;
  position: absolute;
  width: 32px;
  z-index: 1;
}

@media (min-width: 400px) {
  h1 {
    font-size: 52px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 74px;
    margin-bottom: calc(var(--visina-slajdera) - 4px);
  }
  .podnaslov {
    display: inline;
  }
  :root {
    --visina-slajdera: 82px;
  }
}
